<div class="banner-background">
</div>

<div class="banner">
  <div class="tagline" id="bannerscroll">
    <div class="middle">

      <span id="trump">TRUMP -</span>
      <span id="media">MEDIA</span>
      <br>
      <span id="love">LOVEMETER</span>

    </div>
  </div>
</div>

<div id="pageHr">
  <i><i>↓</i></i>
</div>

<div id="page">
  <img class="ok" src="http://doesdonaldtrumphateyou.com/img/trump-icon.png"/>
  <div id="elem"></div>
  <div class="bar"></div>
</div>


