<div class="banner-background">
</div>

<div class="banner">
  <div class="tagline" id="bannerscroll">
    <div class="middle">
      <span id="trump">TRUMP -</span>
      <span id="media">MEDIA</span>
      <br>
      <span id="love">LOVEMETER</span>
    </div>
  </div>
</div>




