<div class="barometer-container">

      <div class="barometer-wording">
        <h1>
          <svg role="img"><text class="word" dominant-baseline="central" fill="#222" stroke="#222" stroke-linecap="round" stroke-width="1.5%" text-anchor="middle" x="50%" y="50%">TrumpOmeteR</text><text class="word" dominant-baseline="central" fill="white" text-anchor="middle" x="50%" y="50%">TrumpOmeteR</text></svg>
        </h1>
      </div>


    <div class="barometer-figure">
      <img class="trump-head" src="http://doesdonaldtrumphateyou.com/img/trump-icon.png"/>
        <div id="bar"></div>
        <div class="bar-jauge"></div>
    </div>


</div>

<script>
  $(document).ready(function() {

  // cache the jquery elements to prevent dom queries during the animation events
  var $body = $("body");
  var $svg = $("svg");
  var $word = $(".word");
});

</script>
