.banner {
  font-family: $my-font;
  letter-spacing: 10px;
  position: fixed;
  height: 90%;
  bottom: 10%;
  right: 0;
  left: 0;
  top: 0;
}

.banner-background {
  background: url(https://www.colourbox.com/preview/19741407-united-states-color-abstract-flat-background.jpg) no-repeat center top;
  background-size: cover;
  position: fixed;
  height: 90%;
  bottom: 10%;
  right: 0;
  left: 0;
  top: 0;
  -webkit-filter: blur(5px) opacity(80%);
  -moz-filter: blur(5px) opacity(80%);
  -o-filter: blur(5px) opacity(80%);
  -ms-filter: blur(5px) opacity(80%);
  filter: blur(5px) opacity(80%);
}

.banner .tagline {
  background: rgba(0, 0, 0, 0.25);
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}


.banner .tagline .middle {
  position: absolute;
  margin-top: 0em;
  right: 0;
  left: 0;
  top: 50%;
}

// .banner .center .middle h1 {
//   font-family: "Lusitana";
//   font-weight: normal;
//   line-height: 1em;
//   font-size: 11em;
//   margin: 0;
// }
// .banner .center .middle span {
//   line-height: 5em;
//   font-size: 1em;
// }

.banner #trump {
  color: #AF2437;
  font-size: 50px;
  text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}

.banner #media {
  color: white;
  font-size: 50px;
  text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}

.banner #love {
  color: #3B3C6C;
  font-size: 70px;
  text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}
