

#pageHr {
  background: black;
  position: relative;
  height: 5px;
  display: block;
  right: 0px;
  left: 0px;
  top: 90%;
  z-index: 1;
}
#pageHr > i {
  margin: -20px;
  border: 5px solid black;
  height: 40px;
  width: 40px;
  background: #48CFAD;
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
#pageHr > i > i {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  line-height: 36.8px;
  font-size: 20px;
  height: 40px;
  width: 40px;
  text-align: center;
  position: absolute;
  color: #FFFFFF;
  display: block;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#page {
  background: #E24050;
  position: relative;
  height: 100vh;
  top: 90%;
  padding: 10% 40px;
  // text-align: center;
}
#page a {
  color: #fff;
}

body {background-color:#E24050;}
